
/*-------------------------
 REUSERBLE CODE 
 -------------------------*/

 .line {
  min-height: 5px;
  background-color:lawngreen;
}
 

#more_button {
  float: right;
  background-color: lawngreen;
  padding: 10px 30px ;
  margin: 0px 20px 0px 0px;
  color: #141414;
  font-size: 15px;
  border: none;
  
}
 
section {
  padding: 80px 10px;
  margin: 0px;
}

.body {
  background-color: rgba(240, 255, 255, 0.486);
}

.header {
  font-family: 'Open Sans', sans-serif;
  color: #141414;
  text-decoration: none;
  
}
 
 


/*-----------------------
 justify 
 -----------------------*/

 .justify {
  background-color: rgba(240, 255, 255, 0.486);
 

} 

.justifyimg_container {
  margin: 0px 0px;
}





/*--------------------------------
          HEADER
 --------------------------------*/
 
.dropbtn {
  background-color:#444444;
  color: white;
  padding: 5px;
  font: 16px;
  border: none;
  margin: 30px 20px 0px 20px;
  font: 16px;
  text-decoration: none;
  position: relative;
  
}


@media only screen and (min-width: 768px) {       
.dropbtn {
  background-color:#444444;
  color: #fff;
  padding: 5px;
  font: 16px;
  border: none;
  margin: 30px 0px 0px 15px;
  font: 16px;
  text-decoration: none;
  position: relative;
  
}
  }

  
@media only screen and (min-width: 1360px) {       
  .dropbtn {
    background-color:#444444;
    color: #fff;
    padding: 5px;
    font: 20px;
    border: none;
    margin: 30px 20px 0px 20px;
    font: 16px;
    text-decoration: none;
    position: relative;
    
  }
    }
    
@media only screen and (min-width: 1360px) {       
       #logo {
         margin-right: 200px;
         border-radius: none;
       }
    }


.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  background-color:#141414;
  min-width: 160px;
  position: absolute;
 
  
}

@media only screen and (max-width: 600px) { 
.dropdown-content {
  position: relative;
  color: #fff;
}
}
 

.dropdown-content a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #fff;
  margin: 10px 0px 0px 10px;
  

}


.dropdown-content a:hover {background-color: rgba(0, 0, 0, 0.692);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover  .dropbtn {background-color:rgba(0, 0, 0, 0.699);}




#carousel_item1 {
   background: url(soccer/photos/soccer26.JPG);  
  padding: 50px 0px;
  
}




#first-carousel-mainrow {
  background-color: red;
}


#lastmatch_colon{
  background-color: rgba(20,20,20,0.65);
  background-size: cover;
  font-family: sans-serif;
  border:3px solid lawngreen ;
  color: #fff;
  min-height: 322px;
  
  }
   
#upcoming_colon{
  background-color: rgba(20,20,20,0.65);
  background-size: cover;
  font-family: sans-serif;
  border:3px solid lawngreen ;
  color: #fff;
  min-height: 322px;
  
  
  }

  

#last_match_header_text {
  color:#fff;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 0px 60px 0px;
}

#upcoming_match_header_text {
  color:#fff;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 0px 60px 0px;
}


#match_header{
  font-size: 40px;
  font-weight: bolder;
  color: #ddd;
}
#last_match_button{
  padding: 20px;
  font: 16px sans-serif;
  font-size: 20px;
  color: #ddd;
  border: none;
  background-color: #444444;
}

#upcoming_match_button{
  padding: 20px;
  font: 16px sans-serif;
  font-size: 20px;
  color: #ddd;
  border: none;
  background-color: #444444;
}



/* ------------------------
FEATURED VIDEOS
 ------------------------*/

/* .exampleSlide .item {width: 20%;}

.exampleSlide .item {width: 33.333%;}

.exampleSlide .item {width: 50%;}

.exampleSlide .item {width: 100%;} */
















/*--------------------------------------------
 LATEST NEWS
 -------------------------------------------- */
 
.latest_news_sub_headline  {
  color:#141414;
  font-size: 16px  ;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  position: relative;
  
  
}
 
 
 



/*-----------------------------------
 FEATURES 
 ------------------------------------*/
 

.features_sub_headline {
  font-size: 22px;
  color: #141414;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}

.features_main_headline{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  color: #141414;

}
 

#features_subRows {
  margin: 20px 0px 0px 0px;
}



/*-----------------------------
 LEAGUE
 ------------------------------ */

.league{
background: url(soccer/photos/soccer26.JPG);
background-size: cover;
font-family: 'Open Sans', sans-serif;

 }

.league_second_colon {
  background-color: rgba(60, 50, 50, 0.815);
  color: #fff;
  min-height: 500px;
  padding: 200px 0px 480px 0px;
} 


.league_first_colon {
  background-color: rgba(60, 50, 50, 0.815);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
} 

 

 





/*---------------------------------
 TRANSFARE NEWS 
 ----------------------------------*/
  
 
 .transfare_news_sub_headline  h4  {
  color:#141414;
  text-decoration: none;
  font-size: 20px ;
  font-family: 'Open Sans', sans-serif;
}



.transfare_news_sub_headline  p {
  color:#141414;
  text-decoration: none;
  font-size: 16px  ;
  font-family: 'Open Sans', sans-serif;
  
}

 



 

/*----------------------------------
 FOOTER
 ----------------------------------- */

.footer-container{
  background-color: #141414;
  padding: 0px;
}


.footer-container .contacts{
  float: left;
  margin-right: 20px;
}


.footer-container .socialinks{
  float: right;
  margin-right: 20px;
  font-size: 22px;
}


 

.footer-container .socialinks a{
  color: #fff;
  
}


.footer-container .contacts{
  color: #fff;
}


.footer-container .contacts a{
  color: #fff;
  text-decoration: none;
}
  

.footer-container p{
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

 

.footer-container img {
  position: relative;
  display: block;
  margin-top: 10px;
  border-radius: 50%;
  margin: auto;
}
 
 



/*-------------------------------
 PLAYER PROFILE
 -------------------------------- */
.card-body {
  display: flex;
}

.card-body:hover {
  box-shadow: 0px 4px 35px -5px lawngreen;
}

.card-body  h4{
  padding: 10px 15px;
  background-color: #444444;
  color: #f1f1f1;
  margin: 0px;
  font-size: 20px;
}

.card-body  h5{
  padding: 0px 0px 0px 60px;
  color: #141414;
  font-size: 20px;
  
}


#btne { 
  color: #FFF;
  display: block;
  transition: all 0.5s ease-in-out;
  border: none;

}
#btne:hover {
  background: #444444;
  box-shadow: 0px 4px 35px -5px lawngreen;
  cursor: pointer;
}


.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel{ min-height: 200px;}
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { display: block; padding:5px; margin:5px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { border: none; position:absolute; color: #fff; background-color: lawngreen;
       padding: 10px 10px; border-radius: 50%; margin-top: 80px;}
    .MultiCarousel .leftLst { left:0; border: none; }
    .MultiCarousel .rightLst { right:0; border: none; }
    
    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }



 


    .vidMultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .vidMultiCarousel{ min-height: 200px;}
        .vidMultiCarousel .vidMultiCarousel-inner { transition: 1s ease all; float: left; }
            .vidMultiCarousel .vidMultiCarousel-inner .video { float: left;}
            .vidMultiCarousel .vidMultiCarousel-inner .video > div { display: block; padding:5px; margin:5px; background:#f1f1f1; color:#666;}
        .vidMultiCarousel .leftslide, .vidMultiCarousel .rightslide { border: none; position:absolute; color: #fff; background-color: lawngreen;
           padding: 10px 10px; border-radius: 50%; margin-top: 80px;}
        .vidMultiCarousel .leftslide { left:0; border: none; }
        .vidMultiCarousel .rightslide { right:0; border: none; }
        
        .vidMultiCarousel .leftslide.over, .vidMultiCarousel .rightslide.over { pointer-events: none; background:#ccc; }
    
 





/* ---------------------------------
       FIRST TEAM 
-----------------------------------*/
/* reuserble code */
#jerseynumber{
  background-color: #141414;
  color: lawngreen;
  display: block;
  text-align: center;
  align-content: center;
  justify-content: center;
}



/* bismark */

.bismark {
  background: url(components/firstTeam/photos/Baaye.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  position: relative;
  
  }
  
  #bismarkdetails {
    background-color: rgba(0,0,0,0);
    color: #fff;
    width: 100%;
  }










/* appiah */
.appiah {
background: url(components/firstTeam/photos/Appiah.JPG);
background-size: cover;
font-family: 'Open Sans', sans-serif;
min-height: 550px;
width: 100%;

}

#appiahdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}

/* cosmos */
.cosmos {
  background: url(components/firstTeam/photos/cosmos.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#cosmosdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}


/* elvis */
.elvis {
  background: url(components/firstTeam/photos/Elvis.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#elvisdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}



/* Enock*/
.enock {
  background: url(components/firstTeam/photos/shargaa.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#enockdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}



/* Cobby*/
.cobby {
  background: url(components/firstTeam/photos/cobby.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#cobbydetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}



/* Andrews*/
.andrews {
  background: url(components/firstTeam/photos/Andrews.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#andrewsdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}



/* Richmond*/
.richmond {
  background: url(components/firstTeam/photos/Richmond.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#richmonddetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}



/* Richmond*/
.theophilus {
  background: url(components/firstTeam/photos/theophilus.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#theophilusdetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}


.ketu {
  background: url(components/firstTeam/photos/Ketu.JPG);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  min-height: 550px;
  width: 100%;
  
  }
  
#ketudetails {
  background-color: rgba(0,0,0,0);
  color: #fff;
  width: 100%;
}









/*----------------------------
 PLAYER STATS
 ----------------------------- */

.stat span {
  display: flex;
}
.stat p {
  margin: 10px 0px 0px 10px;
  font-size: 15px;
  font-weight: bold;
}
 
#dropdowninside {
  background-color: #141414;
  padding: 10px 128px;
  color: #fff;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}  

 
 .playerinfo {
   font-size: 26px;
   padding: 5px 10px;
   background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
 }

.teammates {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 1px 0px;
}


.teammates h3 {
  margin: 11px 0px;
}


 ul {
  display: block;
  padding-inline-start: 0px;
  list-style-type: none;
   
}
 #playername {
  margin-left: 170px;
  
} 
.panel-heading {
  background-color: #141414;
  display: block;
  text-align: center;
}

 .discription {
   display: block;
   text-align: center;
 }
  
 .progres {
  height: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  /* border-radius: 4px; */
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
#figures {
  text-align: center;
  color: #666;
  font-size: 14px;
}

  
/* FIRST TEAM AND ACADEMY */

.staff {
          text-decoration: none;
          color: #141414;
}




/* SAFA TV */

 
body {
  margin: 30px;
  padding: 0;
  background: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  width: 100%;
  max-width: 854px;
  margin: 0 auto;
}

.caption {
  width: 100%;
  max-width: 854px;
  margin: 0 auto;
  padding: 20px 0;
}

.vid-main-wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 440px;
  background: #fff;
  margin: 0 auto;
}


/*  VIDEO PLAYER CONTAINER
############################### */
.vid-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px; 
  height: 0; 
  width:70%;
  float:left;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 360px;
}


/*  VIDEOS PLAYLIST 
############################### */
.vid-list-container {
width: 30%;
height:360px;
overflow: auto;
float:right;
}

.vid-list-container:hover, .vid-list-container:focus {
 overflow-y: auto;
}

ol#vid-list {
margin:0;
padding:0;
background: #222;
}

ol#vid-list li {
list-style: none;
}

ol#vid-list li a {
text-decoration: none;
background-color: #fff;
height:55px;
display:block;
padding:5px 10px 5px 10px;
}

ol#vid-list li a:hover {
background-color:#ddd
}

.vid-thumb {
float:left;
margin-right: 8px;
}

.active-vid { 
background:#3A3A3A;
}

#vid-list .desc {
color: #000;
font-size: 13px;
margin-top:5px;
}


@media (max-width: 624px) {
body {
  margin: 15px;
}
.caption {
  margin-top: 40px;
}
.vid-list-container {
  padding-bottom: 20px;
}

}




/*----------------
 HISTORY AND TIMELINE
 ----------------- */
 .history {
  background-size: cover;
  min-height: 550px;
  width: 100%;
  background-color: rgba(60, 50, 50, 0.815);

 }


 
 .timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
  position: relative;
  background-color: green;
  width: 100%;
}

.timeline::before {
	position: absolute;
	content: "";
	display: block;
	width: 0.4rem;
	height: 100%;
	background:lawngreen;
	z-index: 1;
}
.linefirst {
  background-color: rgba(60, 50, 50, 0.815);
}

.time {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "content-left image content-right";
	align-items: center;
	position: relative;
	z-index: 2;
}

.time + .time {
	margin-top: 4rem;
}

.wrap {
	grid-area: content-left;
	padding: 1rem;
	max-width: 25rem;
}

.time:nth-child(even) .wrap {
	grid-area: content-right;
}

.img {
	width: 8rem;
	height: 8rem;
	background: lawngreen;
	border: 0.5rem solid lawngreen;
	border-radius: 50%;
	grid-area: image;
	overflow: hidden;
}

.img > img {
	width: 100%;
	height: auto;
}
 