@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/*-------------------------
 REUSERBLE CODE 
 -------------------------*/
  .barnav {
    margin:0px 22px;
    background-color: #fff;
    
  }

  .container-fluid {
    margin: 80px 0px;

  }

  #headimage {
     background-image: url(./soccer/photos/headline-min.PNG); 
     min-height: 700px;
      background-position: center; 
     background-repeat: no-repeat;
     background-size: cover;
     
  }
  
 .mainHeadline {
  background-color: #141414;
}

 .mainHeadline h1 {
  color: lawngreen;
  letter-spacing: -0.39px;
  position: relative;
  font-family: 'Airial Rounded' !important;
  font-weight: 900;
  padding: 5px 15px;
  text-align: center;
  margin: 10px 20x;

} 

@media only screen and (max-width: 600px) { 
  .mainHeadline h1 {
    position: relative;
    font-family: 'Airial Rounded' !important;
    margin: 2px 10x;
    font-size:30px ;
    color: #fff; 
  } 
 }









  
@media only screen and (max-width: 600px) { 
  .barnav {
    margin: 0px 0px;
  }
 }

  
   

 .line {
  min-height: 3px;
  background-color:lawngreen;
}

@media only screen and (max-width: 600px) { 
   
 .line {
  display: none;
}
   }
  
.bottom {
  overflow: hidden;
  text-align: center;
  color: lawngreen;
  padding: 5px;
  background-color: #141414;
  
}
  

.more_button_mobile {
  background-color: lawngreen;
  color: #141414;
  font-size: 15px;
  border: none;
   
}

.more_button_desktop {
  float: right;
  background-color: lawngreen;
  padding: 10px 30px ;
  margin: 0px 20px 0px 0px;
  font-family: 'Airial Rounded' !important;
  color: #141414;
  font-size: 15px;
  border: none;
  
}

.more_button_mobile {
  display: none; 
} 
 
 
@media only screen and (max-width: 600px) { 
  .more_button_desktop {
   display: none;
 }


 .more_button_mobile {
  background-color:#141414;
  padding: 10px 30px ;
  color: lawngreen;
  font-size: 15px;
  font-family: 'Airial Rounded' !important;
  border: none;
  display: block;
  width: 100%;

}
  
 }


 .homesocialheader {
  background-color:#141414;
  padding: 10px 0px;

}



@media only screen and (max-width: 600px) {   
 .homesocialheader {
  padding: 10px 0px;
  margin: 0px;
}

 }
.homesocialheader p{
 float: left;
 margin-left: 20px;
 color: lawngreen;
}


@media only screen and (max-width: 600px) { 
   
  .homesocialheader img {
   display: none;
 }
 
  }
.homesocialinks{
  float: right;
  margin-right: 20px;
  font-size: 20px;
 color: lawngreen;
 background-color: #141414;
 
}
 

.header h2{
  font-size: 35px;
  color: #141414;
  letter-spacing: -0.39px;
  line-height: 1.0;
  position: relative;
  font-family: 'Airial Rounded' !important;
  font-weight: 600;
  text-decoration: none;
  
}


@media only screen and (max-width: 600px) { 
  .header h2{
    font-size: 32px;
    margin-left: 15px;
    
    
  }
  }
 
 /*----------------------
  HEADER JS 
  -------------------------*/
  #textlogo {
   display: none;
 } 
  
  
@media only screen and (max-width: 600px) { 
  #logo {
    display: none;
  }
  #textlogo{
    color: lawngreen;
    display: inline-block;
    font-family: 'Airial Rounded' !important;
    font-size: 25px;
    margin-left: 13px;

  }
  }

  .socialHead h3 {
    float: right;
    color: lawngreen;
    letter-spacing: -0.39px;
    position: relative;
    font-family: 'Airial Rounded' !important;
    font-weight: 800;
    padding: 5px 15px;
    background-color: #141414;
    margin-top: -2px;
  }

  .socialHead a {
     color: lawngreen;
  }


.socialink {
  position: relative;
  font-size: 30px;
  margin-right: 20px;
  background-color: #141414;
  border-radius: 50%;
   padding: 10px 15px;
}

@media only screen and (max-width: 600px) { 
  .socialHead h3 {
    display: none;
  }
  }
  
@media only screen and (max-width: 600px) { 
  
.socialink {
  position: relative;
  font-size: 20px;
  margin-right: 32px;
  background-color: #141414;
  border-radius: 50%;
   padding: 5px 10px;
}
  }
 

/*--------------------------------
          HEADER
 --------------------------------*/
 
.dropbtn {
  background-color:#444444;
  color: white;
  padding: 5px;
  font: 16px;
  border: none;
  margin: 30px 20px 0px 20px;
  font: 16px;
  text-decoration: none;
  position: relative;
  
}


@media only screen and (min-width: 768px) {       
.dropbtn {
  background-color:#444444;
  color: #fff;
  padding: 5px;
  font: 16px;
  border: none;
  margin: 30px 5px 0px 5px;
  font: 16px;
  text-decoration: none;
  position: relative;
  
}
  }

  
@media only screen and (min-width: 1360px) {       
  .dropbtn {
    background-color:#444444;
    color: #fff;
    padding: 5px;
    font: 20px;
    border: none;
    margin: 30px 40px 0px 0px;
    font: 16px;
    text-decoration: none;
    position: relative;
    font-family: 'Airial Rounded' !important;
    
  }
    }
    
@media only screen and (min-width: 1360px) {       
       #logo {
         margin-right: 200px;
         border-radius: none;
       }
    }


.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  
}

 
.dropdown-content {
  display: none;
  background-color:#141414;
  min-width: 160px;
  position: absolute;
  width: auto;
  
}

@media only screen and (max-width: 600px) { 
.dropdown-content {
  position: relative;
  color: #fff;
  width: auto;
  
}
}
 

.dropdown-content a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #fff;
  margin: 5px 10px 13px 10px;
  

}


.dropdown-content a:hover {color:#fff ;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover  .dropbtn {background-color:rgba(0, 0, 0, 0.699);}



.fixturecontainer{
  background: url(soccer/photos/soccerangelslogo.JPG);
  background-size: cover; 
}

#lastmatch_colon{
  background-color: rgba(20,20,20,0.55);
  background-size: cover;
  min-height: 300px;
  
  }

  @media only screen and (min-width: 1360px) {       
    #lastmatch_colon{
     margin-top: -20px;
      
      }
    }
   
@media only screen and (max-width: 600px) {  
  #lastmatch_colon{
    margin: 10px 0px;
     
     } 
}

@media only screen and (min-width: 768px) {       
  #lastmatch_colon{
    margin: 2px 0px;
     
     } 
}

  
  
#upcoming_colon{
  background-color: rgba(20,20,20,0.55);
  background-size: cover;
  font-family: sans-serif;
  color: #fff;
  min-height: 300px;
  
  }

@media only screen and (max-width: 600px) {  
  

     }
    
@media only screen and (min-width: 768px) {       
   
    }

#upcoming_match_header_text {
  color:#fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
}

@media only screen and (max-width: 600px) {  
 
#upcoming_match_header_text {
  color:lawngreen;
  font-size: 20px;  
} 

}

  
@media only screen and (min-width: 768px) {       
  
#upcoming_match_header_text {
  color:lawngreen;
  font-size: 22px;
   
}   
}







#match_header{
  font-size: 40px;
  color: #ddd;
}
 

#upcoming_match_text{
  font-family: Arial, Helvetica, sans-serif;
  color: #ddd;
  font-size: 40px;
  justify-self: center;
  font-weight: bold;

}


 



/*--------------------------------------------
 LATEST NEWS
 -------------------------------------------- */
 
.latest_news_sub_headline  {
  font-size: 19px;
  color: #141414;
  letter-spacing: -0.59px;
  line-height: 1.3;
  position: relative;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  
  
}
 
 

/*-----------------------------------
 FEATURES 
 ------------------------------------*/
 .features-headline h4{
  font-size: 42px;
  color: #141414;
  letter-spacing: -0.59px;
  line-height: 1.0;
  position: relative;
  font-family: 'Airial Rounded' !important;
  font-weight: 600;
 }

 
 @media only screen and (max-width: 600px) { 
  .features-headline h4 {
    font-size: 31px;
    color: #141414;
    letter-spacing: -0.39px;
    line-height: 1.0;
    position: relative;
    font-family: 'Airial Rounded' !important;
    font-weight: 550;
    
  }
  }

.features_sub_headline {
  font-size: 22px;
  color: #141414;
  letter-spacing: -0.59px;
  line-height: 1.0;
  position: relative;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;

}
 
 





 



/*---------------------------------
 TRANSFARE NEWS 
 ----------------------------------*/
 #transfare {
  background-color: rgba(240, 255, 255, 0.486);
 }
  .transfarenews-headline h4{
    font-size: 35px;
    color: #141414;
    letter-spacing: -0.59px;
    line-height: 1.0;
    position: relative;
    font-family: 'Airial Rounded' !important;
    font-weight: 600;
    
  }
  
  @media only screen and (max-width: 600px) { 
    .transfarenews-headline h4{
      font-size: 31px;
      color: #141414;
      letter-spacing: -0.39px;
      line-height: 1.0;
      position: relative;
      font-family: 'Airial Rounded' !important;
      font-weight: 550;
      
    }
    }
 
 .transfare_news_sub_headline  h4  {
  font-size: 22px;
  color: #141414;
  letter-spacing: -0.59px;
  line-height: 1.3;
  position: relative;
  font-family:  'Airial Rounded' !important;
  font-weight: 600;
}


.transfare_news_sub_headline  p {
  font-size: 19px;
  color: #141414;
  letter-spacing: -0.59px;
  line-height: 1.3;
  position: relative;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  
}

 
/*---------------------------------
 TRANSFARE NEWS DETAILS
 ----------------------------------*/
  .detailsHeading h1{
      font-size: 42px;
      color: #141414;
      letter-spacing: -0.89px;
      line-height: 1.2;
      margin-bottom: 18px;
      padding: 0 12px;
      position: relative;
      font-family: 'Airial Rounded' !important;
      font-weight: 800;
      padding: 0px 90px;
  
  }
  .detailsContext p{
    
      font-family: "Open Sans",sans-serif;
      font-size: 19px;
      font-weight: 400;
      color: #141414;
      line-height: 1.5;
      margin-bottom: 12px;
      
      margin: 20px 0px;
  
  }

  .details-tranfare p {
    color: #141414;
    letter-spacing: -0.79px;
    line-height: 1.2;
    margin-bottom: 18px;
    padding: 0 12px;
    position: relative;
    font-family: 'Airial Rounded' !important;
    font-weight: 600;
    padding: 0px 0px;
  }

  @media only screen and (max-width: 600px) { 
    .detailsHeading h1{
      font-size: 35px;
      color: #141414;
      letter-spacing: -0.79px;
      line-height: 1.2;
      margin-bottom: 18px;
      padding: 0 12px;
      position: relative;
      font-family: 'Airial Rounded' !important;
      font-weight: 400;
      padding: 0px 0px;

  }
    }

    @media only screen and (max-width: 600px) { 
      .detailsContext p{ 
        font-family: "Open Sans",sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #141414;
        line-height: 1.5;
       margin: 20px 0px;
        
    }
      }
  
 

/*----------------------------------
 FOOTER
 ----------------------------------- */

.footer-container{
  background-color: #141414;
  padding: 0px;
}


.footer-container .contacts{
  float: left;
  margin-right: 20px;
}


.footer-container .socialinks{
  float: right;
  margin-right: 20px;
  font-size: 22px;
}


 

.footer-container .socialinks a{
  color: #fff;
  
}


.footer-container .contacts{
  color: #fff;
}


.footer-container .contacts a{
  color: #fff;
  text-decoration: none;
}
  

.footer-container p{
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

 

.footer-container img {
  position: relative;
  display: block;
  margin-top: 10px;
  border-radius: 50%;
  margin: auto;
}
 
 



/*-------------------------------
 PLAYER PROFILE
 -------------------------------- */
.card-body {
  display: flex;
}

.card-body:hover {
  box-shadow: 0px 4px 35px -5px lawngreen;
}

.card-body  h4{
  padding: 10px 15px;
  background-color: #444444;
  color: #f1f1f1;
  margin: 0px;
  font-size: 20px;
}

.card-body  h5{
  padding: 0px 0px 0px 60px;
  color: #141414;
  font-size: 20px;
  
}


#btne { 
  color: #FFF;
  display: block;
  transition: all 0.5s ease-in-out;
  border: none;

}
#btne:hover {
  background: #444444;
  box-shadow: 0px 4px 35px -5px lawngreen;
  cursor: pointer;
}


.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel{ min-height: 200px;}
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { display: block; padding:5px; margin:5px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftList, .MultiCarousel .rightList { border: none; position:absolute; color: #fff; background-color: lawngreen;
       padding: 10px 10px; border-radius: 50%; margin-top: 80px;}
    .MultiCarousel .leftList { left:0; border: none; }
    .MultiCarousel .rightList { right:0; border: none; }
    
    .MultiCarousel .leftList.over, .MultiCarousel .rightList.over { pointer-events: none; background:#ccc; }



 


    .vidMultiCarousel { float: left; overflow: hidden; padding: 0px; width: 100%; position:relative; }
    .vidMultiCarousel{ min-height: 100px;}
        .vidMultiCarousel .vidMultiCarousel-inner { transition: 1s ease all; float: left; }
            .vidMultiCarousel .vidMultiCarousel-inner .video { float: left;}
            .vidMultiCarousel .vidMultiCarousel-inner .video > div { display: block; padding:0px; margin:5px; background:#f1f1f1; color:#666;}
        .vidMultiCarousel .leftslide, .vidMultiCarousel .rightslide { border: none; position:absolute; color: #fff; background-color: lawngreen;
           padding: 10px 10px; border-radius: 50%; margin-top: 80px;}
        .vidMultiCarousel .leftslide { left:0; border: none; }
        .vidMultiCarousel .rightslide { right:0; border: none; }
        
        .vidMultiCarousel .leftslide.over, .vidMultiCarousel .rightslide.over { pointer-events: none; background:#ccc; }
    
 



  
/* FIRST TEAM AND ACADEMY */

.staff {
          text-decoration: none;
          color: green;
          font-family: 'Airial Rounded' !important;
}




/* SAFA TV */

 
body {
  margin: 30px;
  padding: 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  width: 100%;
  max-width: 854px;
  margin: 0 auto;
}

.caption {
  width: 100%;
  max-width: 854px;
  margin: 0 auto;
  padding: 20px 0;
}


.caption h4{
  color: green;
}

.vid-main-wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 440px;
  background: #fff;
  margin: 0 auto;
}


/*  VIDEO PLAYER CONTAINER
############################### */
.vid-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px; 
  height: 0; 
  width:70%;
  float:left;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 360px;
}


/*  VIDEOS PLAYLIST 
############################### */
.vid-list-container {
width: 30%;
height:360px;
overflow: auto;
float:right;
}

.vid-list-container:hover, .vid-list-container:focus {
 overflow-y: auto;
}

ol#vid-list {
margin:0;
padding:0;
background: #222;
}

ol#vid-list li {
list-style: none;
}

ol#vid-list li a {
text-decoration: none;
background-color: #fff;
height:55px;
display:block;
padding:5px 10px 5px 10px;
}

ol#vid-list li a:hover {
background-color:#ddd
}

.vid-thumb {
float:left;
margin-right: 8px;
}

.active-vid { 
background:#3A3A3A;
}

#vid-list .desc {
color: #000;
font-size: 13px;
margin-top:5px;
}


@media (max-width: 624px) {
body {
  margin: 15px;
}
.caption {
  margin-top: 40px;
}
.vid-list-container {
  padding-bottom: 20px;
}

}




/*----------------
 HISTORY AND TIMELINE
 ----------------- */
 .history {
  background-size: cover;
  min-height: 550px;
  width: 100%;
  background-color: rgba(60, 50, 50, 0.815);

 }


 
 .timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
  position: relative;
  background-color: green;
  width: 100%;
}

.timeline::before {
	position: absolute;
	content: "";
	display: block;
	width: 0.4rem;
	height: 100%;
	background:lawngreen;
	z-index: 1;
}
.linefirst {
  background-color: rgba(60, 50, 50, 0.815);
}

.time {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "content-left image content-right";
	align-items: center;
	position: relative;
	z-index: 2;
}

.time + .time {
	margin-top: 4rem;
}

.wrap {
	grid-area: content-left;
	padding: 1rem;
	max-width: 25rem;
}

.time:nth-child(even) .wrap {
	grid-area: content-right;
}

.img {
	width: 8rem;
	height: 8rem;
	background: lawngreen;
	border: 0.5rem solid lawngreen;
	border-radius: 50%;
	grid-area: image;
	overflow: hidden;
}

.img > img {
	width: 100%;
	height: auto;
}
 


/*-----------------------------
 email form 
 ----------------------------------*/

 form {
  width: 500px;
  background: white;
  padding: 20px 25px;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
form input,
form textarea {
  font: inherit;
  padding: 5px 5px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
form button {
  border: 1px solid rgba(0,0,0,0.2);
  padding: 8px 35px;
  font-size: 12px;
  background: #888;
  color: white;
}
form label {
  color: #777;
  font-size: 11px;
  margin-bottom: 2px;
  display: block;
}
 
































































